<%- include("partials/header") -%>
<h1> About </h1>
<h2 class="dw">
    <%= aboutStart%>
</h2>

<h3 class="new">
    Everyone can make use of this platform to share their views, experiences and suggestions with people around the globe. You will find content written by various independent authors.
</h3>
<hr class="style13">
<%- include("partials/footer") -%>